body,
.home {
  font-family: "ui-sans-serif", sans-serif;
}

.header {
  background-color: #f5f5f5;
  padding: 1rem;
}

.nav {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: #333;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 68px);
  background-color: #fff;
}

@keyframes gradient-scroll {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}

.loading-text {
  font-size: 1.4rem;
  background: linear-gradient(90deg, #fff, #333, #fff);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-scroll 4s infinite ease;
}

.question {
  margin: 0;
  margin-bottom: 1rem;
}

.message {
  font-size: 1.4rem;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.2rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
}

.btn-red {
  background-color: #ffe5e5;
}

.btn-green {
  background-color: #e8f5e9;
}

.btn-back {
  background-color: #fafafa;
}

.back-container {
  margin-top: 1rem;
}

/* Estilo para a ilustração de clima nublado */
.cloudy-illustration {
  text-align: center;
  margin-bottom: 1rem;
}

.cloudy-illustration img {
  width: 200px; /* ajuste conforme desejado */
  height: auto;
}

/* Estilo para a ilustração de clima nublado */
.cloudy-illustration {
  text-align: center;
  margin-bottom: 1rem;
}

.cloudy-illustration img {
  width: 200px; /* ajuste conforme desejado */
  height: auto;
}

/* Novo estilo para o GIF do sol */
.sun-gif {
  text-align: center;
}

.sun-gif img {
  width: 200px; /* ajuste conforme o tamanho desejado */
  height: auto;
}
